<section>
<ul>
  <li><a routerLink=''>Blog</a></li>
  <li><a *ngIf="auth.isAuthenticated()" routerLink="/post">My Post</a></li>
  <li><a *ngIf="auth.isAuthenticated()" routerLink="/post/create">Add Post</a></li>
  <li style="float: right"><a *ngIf="!auth.isAuthenticated()"(click)="auth.login()">Log In</a></li>
  <li style="float: right"><a *ngIf="auth.isAuthenticated()"(click)="auth.logout()">Log out</a></li>
  <li style="float: right"><a class="nickname" *ngIf="auth.isAuthenticated()" routerLink="/profile">profile</a></li>
</ul>
</section>
