<section>
    <div class="page-header">
    <h2>{{ post.title }} </h2>
    <label>Description:</label>
    <p>{{ post.description }}</p>
  </div>
  <button (click) = "deletePost(post._id)" *ngIf="auth.isAuthenticated()"class="btn btn-danger">delete</button>
  <button  class="btn btn-primary" *ngIf="auth.isAuthenticated()" [routerLink]="['/post/edit',post._id]">Edit</button>

  <!--<button class="button button3" [routerLink]= "['/post',post._id,'comment','create']">comment</button>
  <button class="btn btn-info" [routerLink]= "['/post',post._id,'comment']">List comment</button>-->
  
<!--<label>comment:</label>
    <input type="text" class="form-control" formControlName="comment" #comment>
    <div *ngIf="angForm.controls['comment'].invalid && (angForm.controls['comment'].dirty || angForm.controls['comment'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['comment'].errors.required">
        Comment is required.
      </div>
    </div>
    <button class="btn btn-primary">submit</button>-->
   <main>
   <app-comment></app-comment> 
    <app-commentlist></app-commentlist>
  </main> 
</section>

  
