<section>
    <div class="page-header">
        <h5>comments</h5>
        </div>
        <div class="list-group">
        <a *ngFor="let comment of comments" class="list-group-item">
        <p>{{ comment.comment }}</p>
        <!--<button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>-->
              
        <a style="float:right" *ngIf="auth.isAuthenticated()"(click) = "deleteComment(comment._id)"class="btn btn-danger">delete</a>
        <a style="float:right" *ngIf="auth.isAuthenticated()"class="btn btn-primary" [routerLink]="['comment','edit',comment._id]" >Edit</a>
    </a>
    </div>
</section>